@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f8f3;
  --foreground: #1f2122;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f2122;
    --foreground: #f8f8f3;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
